<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand heading" href="#">
      ALL MOVIES LIST
      <i class="fa fa-film" aria-hidden="true"></i>
    </a>
  </div>
</nav>

<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <ul class="nav sidebaricon">
      <a >
        <li class="list-styled">
          <i class="fa fa-tachometer" style="font-size: 25px"></i> Dashboard
        </li>
      </a>

      <a href="/home" >
        <li class="list-styled">
          <i class="fa fa-home" style="font-size: 25px"></i> Home
        </li>
      </a>

      <a href="/about">
        <li class="list-styled">
          <i class="fa fa-info-circle" style="font-size: 25px"></i>  About

        </li>
      </a>
    

      <a href="/movies">
        <li class="list-styled">
          <i class="fa fa-file-video-o" style="font-size: 25px"></i>Movie search
        </li>
      </a>
     
      <a href="/favmovie">
        <li class="list-styled">
          <i class="fa fa-heart-o" style="font-size: 25px"></i>Favorites
        </li>
      </a>
    </ul>
  </div>
  <!-- Content -->
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#"><i class="zmdi zmdi-notifications text-danger"></i> </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
